<div class="container">
  <% if params[:query] == 'sent' %>
    <h1> Your Requests Sent </h1>
  <% else  %>
    <h1> Your Requests Received </h1>
  <% end %>
</div>

<div class="container">
  <% if @bookings.any? %>
    <table>
      <tr>
        <th>Name of planet</th>
        <th>Number of guests</th>
        <th>Starting date</th>
        <th>Ending date</th>
        <% if params[:query] == 'sent' %>
          <th>To</th>
        <% else  %>
          <th>By</th>
        <% end %>  
      </tr>
      <% @bookings.each do |booking| %>
        <tr>
          <td> <%= link_to booking.planet.name, planet_path(booking.planet) %> </td>
          <td><%= booking.number_of_guests %> </td>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_date %></td>
          <% if params[:query] == 'sent' %>
            <td><%= link_to booking.planet.user.username, user_path(booking.planet.user) %></td>
          <% else  %>
            <td><%= link_to booking.user.username, user_path(booking.user) %></td>
          <% end %>
          <% if current_user == booking.user %>
            <td><%= link_to 'Delete this booking', booking_path(booking), data: { confirm: "Are you sure?" }, :method => :delete %></td>
          <% end %>
        </tr>
        <% end %>
    </table>
  <% else %>
      <h5 class="card-text">You currently have no bookings!</h5>
  <% end %>
</div>

<div class="container">
  <%= link_to "Back", root_path, class:"btn btn-outline-secondary" %>
</div>
