<div class="container-user">
  <h1><%= @user.username %>'s Profile</h1>
    <div class="user-profile">
      <% if @user.avatar.attached? %>
        <%= cl_image_tag(@user.avatar.key, width: 200, height: 200, format: "png", gravity: "face", crop: "fill", radius: "max") %>
      <% end %>
      <% if current_user == @user  %>
      <div class="user-profile-info">

        <div>
          <h2>Your Informations</h2>
          <p>Email: <%= @user.email %></p>
          <p>Password: ****************</p>
        </div>
      <% end %>

      <div>
        <h2>About</h2>
        <p><%= @user.description unless @user.description.nil? %></p>
        <h2>My Planets</h2>
        <% @user.planets.each do |planet| %>
          <p class="user-planet"><%= link_to planet.name, planet_path(planet) %></p>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user == @user  %>
  <div class="btn-profile">
    <%= link_to "Delete my account", registration_path(current_user), class: "btn btn-outline-warning", data: { confirm: "Are you sure? There is no turning back" }, method: :delete %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-primary btn-edit" %>
  </div>
  <% end %>
</div>
