<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <%= simple_form_for @planet do |f| %>
        <%= f.input :name %>
        <%= f.input :address, label: 'Address of the nearest Space Station'  %>
        <%= f.input :price, min_max: true, input_html: { step: 1000 } %>
        <%= f.input :number_guests, min_max: true, input_html: { step: 10 } %>
        <%= f.input :description %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
