<div class="container-index">
  <br>
  <h1>All planets</h1>
  <br>
  <div class="container-planets">
    <div class="card-planet">
      <% @planets.each do |planet| %>
      <% if planet.photos.attached? %>
        <%= cl_image_tag planet.photos.first.key, height: 200, width: 200, crop: :fill %>
      <% else %>
        <%= image_tag('earth.jpg', height: 200, width: 200) %>
      <% end %>
      <div class="card-planet-infos">
        <br>
        <h2><%= planet.name %></h2>
        <h3><%= planet.address %></h3>
        <p><%= planet.description %></p>
        <br>
        <h2 class="card-planet-price"><%= planet.price %></h2>
        <br>
        <%= link_to "See More", planet_path(planet) %>
      <% end %>
      <br>
      </div>
    </div>
  </div>
</div>
