<div class="container">

  <h1>All planets</h1>

  <div class="container">
    <% @planets.each do |planet| %>
    <div class="card-planet">
      <% if planet.photos.attached? %>
        <%= cl_image_tag planet.photos.first.key, height: 200, width: 200, crop: :fill %>
      <% else %>
        <%= image_tag('planet_blue.jpg', height: 200, width: 200) %>
      <% end %>
      <div class="card-planet-infos">
        <h2><%= planet.name %></h2>
        <p><%= planet.description %></p>
        <h2 class="card-planet-price"><%= planet.price %></h2>
        <%= link_to "See More", planet_path(planet) %>
      <% end %>
      </div>

    </div>
  </div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
