<div class="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    </ol>
    
    <div class="carousel-inner">
      <% if @planet.photos.attached? %>
      <div class="carousel-item active">
        <%= cl_image_tag @planet.photos.first.key, class: "d-block w-100" %>
      </div>
      <% else %>
        <div class="carousel-item active">
        <%= image_tag('earth.jpg', class: "d-block w-100") %>
        </div>
      <% end %>
      <% if @planet.photos.attached? %>
      <div class="carousel-item">
        <%= cl_image_tag @planet.photos.second.key, class: "d-block w-100" %>
      </div>
      <% else %>
        <div class="carousel-item">
        <%= image_tag('moon.jpg', class: "d-block w-100") %>
        </div>
     <% end %>
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>

<section id="Services">
  <div class="container-show">
    <div class="card-show">
      <div class="circle-show">
      <h2 class="card-header">Entire planet</h2>
      </div>
      <div class="content-show">
        <p class="text-show">You can have <%= @planet.name %> only for yourself or to share it with your friends</p>
      </div>
    </div>
    <div class="card-show">
      <div class="circle-show">
      <h2 class="card-header">Where</h2>
      </div>
      <div class="content-show">
        <p class="text-show">The departing station will be in the city of <%= @planet.address %></p>
      </div>
    </div>
    <div class="card-show">
      <div class="circle-show">
      <h2 class="card-header">Capacity and price</h2>
      </div>
      <div class="content-show">
        <p class="text-show">This planet can acccomodate up to <%= @planet.number_guests %> guests and will cost <%= @planet.price %> € per day</p>
      </div>
    </div>
    <% unless current_user == @planet.user  %>
    <div class="btn-container">
      <%= link_to "Make a booking", new_planet_booking_path(@planet), class: "btn-change-border" %>
    </div> 
    <% end %>
    <% if current_user == @planet.user %>
      <div class="btn-container">
        <%= link_to "Edit", edit_planet_path(@planet), class: "btn-change-border-edit" %>
        <%= link_to "Delete", @planet, data: { confirm: "Are you sure?" }, :method => :delete, class: "btn-change-border-delete" %>
       <% end %>
      </div>
  </div>
</section>
      