<div class="container-index">
  <div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
      <% @planet.photos.each.with_index(0) do |post, index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index.zero? ? 'active' : '' %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @planet.photos.each.with_index(0) do |photo, index| %>
          <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
            <%= link_to photo do %>
              <%= image_tag(photo, class: 'd-block w-100 img-fluid') %>
            <% end %>
          </div>
        <% end %>
      </div>


      
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

  <section id="Services">
    <div class="container-show">
      <div class="card-show">
        <div class="circle-show">
          <h2 class="card-header">Entire planet</h2>
        </div>
        <div class="content-show">
          <p class="text-show">You can have <strong> <%= @planet.name %></strong>  only for yourself or to share it with your friends</p>
        </div>
      </div>
        <div class="card-show">
          <div class="circle-show">
            <h2 class="card-header">Where</h2>
          </div>
          <div class="content-show">
            <p class="text-show">The departing station will be in the city of <strong> <%= @planet.address %></strong> </p>
          </div>
      </div>
        <div class="card-show">
          <div class="circle-show">
            <h2 class="card-header">Capacity and price</h2>
          </div>
          <div class="content-show">
            <p class="text-show">This planet can acccomodate up to <strong> <%= @planet.number_guests %></strong>  guests and will cost <strong><%= @planet.price %> €</strong> per day</p>
          </div>
        </div>

        <% unless current_user == @planet.user  %>
          <div class="btn-container">
        <%= link_to "Make a booking", new_planet_booking_path(@planet), class: "btn-change-border" %>
          </div> 
        <% end %>
        <% if current_user == @planet.user %>
          <div class="btn-container">
          <%= link_to "Edit", edit_planet_path(@planet), class: "btn-change-border-edit" %>
          <%= link_to "Delete", @planet, data: { confirm: "Are you sure?" }, :method => :delete, class: "btn-change-border-delete" %>
        <% end %>
          </div>
    </div> 
  </section>
</div>
      