<h1> <%= planet.name %></h1>
<div class="container">
  <% @planet.each do |element| %>
    <ul>
      <li><%= planet.description %></li>
      <li><%= planet.address %></li>
      <li><%= planet.price %></li>
      <li><%= planet.number_guests %></li>
    </ul>
    <% end %>
  <div>
    <%= link_to "Edit the planet", edit_planet_path %>
    <%= link_to "Back to all planets", root_path%>
    </div>
</div>

