<div class="banner">
   <div class="text-banner">
      <h1>Welcome to Rental Planet</h1>
      <p>The luxury space vacation rentals</p>

   </div>
   <div class="search-form">
      <div class="row">
         <div class="col-lg-12">
            <form action="" method="">

               <div class="form-group col-lg-12">
                  <label for="Location">Location</label>
                  <input type="text" class="form-control" id="Location" placeholder="Where are you going?">
               </div>

               <div class="form-group col-lg-12">
                  <label for="CheckIn">Check in </label>
                  <input type="date" class="form-control" id="CheckIn" placeholder="Add dates">
               </div>

               <div class="form-group col-lg-12">
                  <label for="CheckOut">Check out </label>
                  <input type="date" class="form-control" id="CheckOut" placeholder="Add dates">
               </div>

               <div class="form-group col-lg-12">
                  <label for="Guests">Guests </label>
                  <select id="Guests" name="guests" class="form-control">
                     <option value="1">1000 guests</option>
                     <option value="2">2000 guests</option>
                     <option value="3">3000 guests</option>
                     <option value="4">4000 guests</option>
                     <option value="5">5000 guests</option>
                     <option value="6">6000 guests</option>
                     <option value="7">7000 guests</option>
                     <option value="8">8000 guests</option>
                     <option value="9">9000 guests</option>
                     <option value="10">10.000 guests</option>
                  </select>
               </div>

               <div class="form-group col-lg-12">
                  <button type="submit" class="btn btn-outline-warning btn-search">Search</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<br>
<%= link_to 'Explore worlds nearby', planets_path, type:"button", class:"btn btn-light rental-planet-main-btn"%>
<br>
<div class="moons-satellites">
  <div class="cards-smaller">
    <% @planets.each do |planet| %>
    <div class="card-planet-index">
      <% if planet.photos.attached? %>
        <%= cl_image_tag planet.photos.first.key, height: 200, width: 200, crop: :fill %>
      <% else %>
        <%= image_tag('earth.jpg', height: 200, width: 200) %>
      <% end %>
      <div class="card-planet-infos">
        <br>
        <h2><%= planet.name %></h2>
        <h3><%= planet.address %></h3>
        <p><%= planet.description %></p>
        <br>
        <h2 class="card-planet-price"><%= planet.price %></h2>
        <br>
        <%= link_to "See More", planet_path(planet) %>
      <br>
      </div>
    </div>
    <% end %>
  </div>
</div>


