<div class="banner">
   <div class="text-banner">
      <h1>Welcome to Rental Planet</h1>
      <p>The luxury space vacation rentals</p>
   </div>
   <div class="rental-planet-main-btn">
     <%= link_to 'Explore worlds nearby', planets_path, type:"button", class:"btn btn-light"%>
   </div>
</div>
<br>

<br>
<div class="moons-satellites">
  <div class="cards-smaller">

    <div class="cards-moons-satellites">
      <%= image_tag "callisto.jpg", width: "100", height: "100", alt: "callisto" %>
      <h3>Callisto</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <%= image_tag "europa.jpg", width: "100", height: "100", alt: "europa" %>
      <h3>Europa</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <%= image_tag "ganymede.jpg", width: "100", height: "100", alt: "ganymede" %>
      <h3>Ganymede</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <%= image_tag "io.jpg", width: "100", height: "100", alt: "io" %>
      <h3>Io</h3>
      <p>628,300,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <%= image_tag "moon.jpg", width: "100", height: "100", alt: "moon" %>
      <h3>Moon</h3>
      <p>384,400km</p>
    </div>

    <div class="cards-moons-satellites">
      <%= image_tag "rhea.jpg", width: "100", height: "100", alt: "rhea" %>
      <h3>Rhea</h3>
      <p>1,272,000,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <%= image_tag "tethys.jpg", width: "100", height: "100", alt: "tethys" %>
      <h3>Tethys</h3>
      <p>1,272,000,000km</p>
    </div>

    <div class="cards-moons-satellites">
      <%= image_tag "titan.jpg", width: "100", height: "100", alt: "titan" %>
      <h3>Titan</h3>
      <p>1,222,000km</p>
    </div>
  </div>
</div>

<div class="solar-system">
   <h2>Solar System</h2>
   <div class="cards">

      <div class="cards-planet-solar-system">
         <%= image_tag "jupiter.jpg", width: "200", height: "200", alt: "jupiter" %>
         <p>Jupiter<p>
      </div>

      <div class="cards-planet-solar-system">
         <%= image_tag "mars.jpg", width: "200", height: "200", alt: "mars" %>
         <p>Mars</p>
      </div>

      <div class="cards-planet-solar-system">
         <%= image_tag "pluto.jpg", width: "200", height: "200", alt: "pluto" %>
         <p>Pluto<p>
      </div>

      <div class="cards-planet-solar-system">
         <%= image_tag "venus.jpg", width: "200", height: "200", alt: "venus" %>
         <p>Venus</p>
      </div>

   </div>
</div>
